<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins;
    font-style: italic;
}


.container{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

.box1{
    height: 100vh;
    width: 20vw;
    border-right: 3px solid darkgrey;
    box-shadow: 1px 1px 5px darkgrey;
    padding-left: 2rem;
    position: fixed;
    left: 1%;
}

.profile-pic{
    width: 15vw;
    margin: 2rem auto 1rem auto ;
}

.profile-pic img{
    margin-left: 2rem;
    width: 10vw;
    height: 22vh;
    border-radius: 50%;
    object-fit: cover;
}

.txt p:first-child{
    font-size: 3vmin;
    font-weight: bold;
}

.txt p:last-child{
    font-size: 2vmin;
    color: blue;
}

.options a{
    margin-top: 1.5rem;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: .7rem;
    width: 85%;
    font-size: 2.5vmin;
    background-color: blue;
    padding: .5rem;
    border: 5px solid blue;
    transition: .3s;
}

.options a:hover{
    background-color: transparent;
    border: 5px solid blue;
    color: black;
}

#logout{
    background-color: rgba(255, 0, 0, 0.87);
    border: 5px solid rgba(255, 0, 0, 0.87);
}

#logout:hover{
    background-color: transparent;
    border: 5px solid rgba(255, 0, 0, 0.87);
}

.location{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 2rem;
}

.location p{
    font-size: 2vmin;
}

.box2{
    height: 100vh;
    width: 55vw;
    padding: auto;
}

.nav{
    background-color: grey;
    width: 52vw;
    height: 8vh;
    margin-left: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 25rem;
    font-style: normal;
    color: white;
}

.nav h1{
    margin-left: 4rem;
}

.postcontainer{
    margin-top: 6rem;
    margin-left: 5rem;
    padding-bottom: 1rem;
}

.post{
    margin-bottom: 1rem;
}

.about-post{
    display: flex;
}

.post-info{
    margin: 1rem;
}

.post-info a{
    font-weight: bold;
    text-decoration: none;
}

.info{
    display: flex;
    gap: .5rem;
    font-size: 2vmin;
}

.post-profile img{
    width: 4vw;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
}

.post h3{
    margin: .5rem 2rem;
}

.postimg img{
    width: 45vw;
    height: 60vh;
    object-fit: contain;
    background-color: rgb(36, 35, 35);
    border-radius: .5rem;
}

.like{
    width: 85%;
    font-size: 2.3vmin;
    margin-left: 2rem;
    margin-top: .3rem;
    font-weight: bold;
    display: flex;
}

.like a{
    text-decoration: none;
    color: black;
}

.like a i{
    font-size: 3.5vmin;
}

.box3{
    background-color: #0064e0;
    height: 100vh;
    width: 25vw;
    box-shadow: 7px 6px 5px 10px #0064e0;
    text-align: center;
    position: fixed;
    right: 0%;
}

.codealpha{
    margin-top: 7rem;
}

.codealpha img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.social-logo{
    margin-top: 5rem;
}

.social-logo img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.box3 img{
    border-radius: 1rem;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(20deg);
    }
    50% {
        transform: translateY(-10px);
        transform: rotate(-20deg);
    }
}

.box3 h2{
    margin-top: 5rem;
    font-style: normal;
    font-size: 4vmin;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.likes-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}

.popup-content {
    background-color: rgb(155, 155, 155);
    margin: 15% 30%;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.like-info{
    display: flex;
    margin-bottom: .5rem;
}

.like-info a{
    margin: 1rem;
}

.img img{
    width: 3vw;
    height: 6vh;
    object-fit: cover;
    border-radius: 50%;
=======
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins;
    font-style: italic;
}


.container{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

.box1{
    height: 100vh;
    width: 20vw;
    border-right: 3px solid darkgrey;
    box-shadow: 1px 1px 5px darkgrey;
    padding-left: 2rem;
    position: fixed;
    left: 1%;
}

.profile-pic{
    width: 15vw;
    margin: 2rem auto 1rem auto ;
}

.profile-pic img{
    margin-left: 2rem;
    width: 10vw;
    height: 22vh;
    border-radius: 50%;
    object-fit: cover;
}

.txt p:first-child{
    font-size: 3vmin;
    font-weight: bold;
}

.txt p:last-child{
    font-size: 2vmin;
    color: blue;
}

.options a{
    margin-top: 1.5rem;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: .7rem;
    width: 85%;
    font-size: 2.5vmin;
    background-color: blue;
    padding: .5rem;
    border: 5px solid blue;
    transition: .3s;
}

.options a:hover{
    background-color: transparent;
    border: 5px solid blue;
    color: black;
}

#logout{
    background-color: rgba(255, 0, 0, 0.87);
    border: 5px solid rgba(255, 0, 0, 0.87);
}

#logout:hover{
    background-color: transparent;
    border: 5px solid rgba(255, 0, 0, 0.87);
}

.location{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 2rem;
}

.location p{
    font-size: 2vmin;
}

.box2{
    height: 100vh;
    width: 55vw;
    padding: auto;
}

.nav{
    background-color: grey;
    width: 52vw;
    height: 8vh;
    margin-left: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 25rem;
    font-style: normal;
    color: white;
}

.nav h1{
    margin-left: 4rem;
}

.postcontainer{
    margin-top: 6rem;
    margin-left: 5rem;
    padding-bottom: 1rem;
}

.post{
    margin-bottom: 1rem;
}

.about-post{
    display: flex;
}

.post-info{
    margin: 1rem;
}

.post-info a{
    font-weight: bold;
    text-decoration: none;
}

.info{
    display: flex;
    gap: .5rem;
    font-size: 2vmin;
}

.post-profile img{
    width: 4vw;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
}

.post h3{
    margin: .5rem 2rem;
}

.postimg img{
    width: 45vw;
    height: 60vh;
    object-fit: contain;
    background-color: rgb(36, 35, 35);
    border-radius: .5rem;
}

.like{
    width: 85%;
    font-size: 2.3vmin;
    margin-left: 2rem;
    margin-top: .3rem;
    font-weight: bold;
    display: flex;
}

.like a{
    text-decoration: none;
    color: black;
}

.like a i{
    font-size: 3.5vmin;
}

.box3{
    background-color: #0064e0;
    height: 100vh;
    width: 25vw;
    box-shadow: 7px 6px 5px 10px #0064e0;
    text-align: center;
    position: fixed;
    right: 0%;
}

.codealpha{
    margin-top: 7rem;
}

.codealpha img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.social-logo{
    margin-top: 5rem;
}

.social-logo img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.box3 img{
    border-radius: 1rem;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(20deg);
    }
    50% {
        transform: translateY(-10px);
        transform: rotate(-20deg);
    }
}

.box3 h2{
    margin-top: 5rem;
    font-style: normal;
    font-size: 4vmin;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.likes-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}

.popup-content {
    background-color: rgb(155, 155, 155);
    margin: 15% 30%;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.like-info{
    display: flex;
    margin-bottom: .5rem;
}

.like-info a{
    margin: 1rem;
}

.img img{
    width: 3vw;
    height: 6vh;
    object-fit: cover;
    border-radius: 50%;
>>>>>>> 85bcc1d (changes for deployment)
}