<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins;
}


.container{
    background-color: white;
    color: black;
}

.boxes{
    display: flex;
    gap: 2rem;
}

.box1{
    margin: 3rem;
    position: fixed;
}

.box1 a{
    background-color: rgba(255, 0, 0, 0.87);
    border: 2px solid rgba(255, 0, 0, 0.87);
    font-size: 2.5vmin;
    padding: .7rem 2.5rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.box2{
    height: 100%;
    width: 60vw;
    padding-left: 20rem;
}

.profile{
    margin-left: 10rem;
}

.userinfo{
    display: flex;
    padding-top: 2rem;
}

.foll{
    display: flex;
    gap: 5rem;
    margin-left: 20rem;
}

.foll-options{
    text-align: center;
    font-weight: bold;
}

.foll-options p:first-child{
    font-size: 3vmin;
}

.add{
    background-color: #0064e0;
    border: 2px solid #0064e0;
    margin: 1rem;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.add a{
    text-decoration: none;
    font-size: 2vmin;
    font-weight: bold;
    color: white;
}

.image img{
    width: 7vw;
    height: 15vh;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid grey;
}

.usertxt{
    margin: 2rem;
    line-height: 2rem;
}

.postcontainer h1{
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.post{
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.post span p{
    display: inline;
    font-size: 2vmin;
    font-weight: 600;
}

.post h3{
    margin-top: .5rem;
}

.postimg img{
    width: 40vw;
    height: 50vh;
    object-fit: contain;
    background-color: rgb(36, 35, 35);
    border-radius: .5rem;
}

.options{
    width: 85%;
    font-size: 2.3vmin;
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    margin-top: .3rem;
    font-weight: bold;
}

.options a{
    text-decoration: none;
    color: black;
}

.options a i{
    font-size: 3.5vmin;
}

.like a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2vmin;
}

.box3{
    background-color: #0064e0;
    height: 100vh;
    width: 25vw;
    box-shadow: 7px 6px 5px 10px #0064e0;
    text-align: center;
    position: fixed;
    right: 0%;
}

.codealpha{
    margin-top: 7rem;
}

.codealpha img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.social-logo{
    margin-top: 5rem;
}

.social-logo img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.box3 img{
    border-radius: 1rem;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(20deg);
    }
    50% {
        transform: translateY(-10px);
        transform: rotate(-20deg);
    }
}

.box3 h2{
    margin-top: 5rem;
    font-style: normal;
    font-size: 4vmin;
}
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.likes-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}

.popup-content {
    background-color: rgb(155, 155, 155);
    margin: 15% 30%;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.like-info{
    display: flex;
    margin-bottom: .5rem;
}

.like-info a{
    margin: 1rem;
}

.img img{
    width: 3vw;
    height: 6vh;
    object-fit: cover;
    border-radius: 50%;
}
=======
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins;
}


.container{
    background-color: white;
    color: black;
}

.boxes{
    display: flex;
    gap: 2rem;
}

.box1{
    margin: 3rem;
    position: fixed;
}

.box1 a{
    background-color: rgba(255, 0, 0, 0.87);
    border: 2px solid rgba(255, 0, 0, 0.87);
    font-size: 2.5vmin;
    padding: .7rem 2.5rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.box2{
    height: 100%;
    width: 60vw;
    padding-left: 20rem;
}

.profile{
    margin-left: 10rem;
}

.userinfo{
    display: flex;
    padding-top: 2rem;
}

.foll{
    display: flex;
    gap: 5rem;
    margin-left: 20rem;
}

.foll-options{
    text-align: center;
    font-weight: bold;
}

.foll-options p:first-child{
    font-size: 3vmin;
}

.add{
    background-color: #0064e0;
    border: 2px solid #0064e0;
    margin: 1rem;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.add a{
    text-decoration: none;
    font-size: 2vmin;
    font-weight: bold;
    color: white;
}

.image img{
    width: 7vw;
    height: 15vh;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid grey;
}

.usertxt{
    margin: 2rem;
    line-height: 2rem;
}

.postcontainer h1{
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.post{
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.post span p{
    display: inline;
    font-size: 2vmin;
    font-weight: 600;
}

.post h3{
    margin-top: .5rem;
}

.postimg img{
    width: 40vw;
    height: 50vh;
    object-fit: contain;
    background-color: rgb(36, 35, 35);
    border-radius: .5rem;
}

.options{
    width: 85%;
    font-size: 2.3vmin;
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    margin-top: .3rem;
    font-weight: bold;
}

.options a{
    text-decoration: none;
    color: black;
}

.options a i{
    font-size: 3.5vmin;
}

.like a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2vmin;
}

.box3{
    background-color: #0064e0;
    height: 100vh;
    width: 25vw;
    box-shadow: 7px 6px 5px 10px #0064e0;
    text-align: center;
    position: fixed;
    right: 0%;
}

.codealpha{
    margin-top: 7rem;
}

.codealpha img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.social-logo{
    margin-top: 5rem;
}

.social-logo img{
    width: 18vw;
    height: 28vh;
    object-fit: cover;
}

.box3 img{
    border-radius: 1rem;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(20deg);
    }
    50% {
        transform: translateY(-10px);
        transform: rotate(-20deg);
    }
}

.box3 h2{
    margin-top: 5rem;
    font-style: normal;
    font-size: 4vmin;
}
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.likes-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
}

.popup-content {
    background-color: rgb(155, 155, 155);
    margin: 15% 30%;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.like-info{
    display: flex;
    margin-bottom: .5rem;
}

.like-info a{
    margin: 1rem;
}

.img img{
    width: 3vw;
    height: 6vh;
    object-fit: cover;
    border-radius: 50%;
}
>>>>>>> 85bcc1d (changes for deployment)
